[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nb-cli = "*"
nonebot2 = "*"
nonebot-adapter-onebot = "*"
linkson = {path = "./linkson-0.1.0-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.9"
