aerich==0.6.3
aiofiles==0.8.0
aiosqlite==0.17.0
anyio==3.6.1
APScheduler==3.9.1
arrow==1.2.2
asgiref==3.5.2
asyncpg==0.26.0
beautifulsoup4==4.11.1
bidict==0.22.0
bilireq==0.2.0.post1
binaryornot==0.4.4
bs4==0.0.1
certifi==2022.6.15
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
cookiecutter==1.7.3
dictdiffer==0.9.0
expiringdict==1.2.2
fastapi==0.78.0
feedparser==6.0.10
greenlet==1.1.2
grpcio==1.47.0
h11==0.12.0
httpcore==0.15.0
httptools==0.4.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.12.0
iso8601==0.1.16
Jinja2==3.1.2
jinja2-time==0.2.0
loguru==0.6.0
Markdown==3.4.1
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.2
nb-cli==0.6.7
nonebot-adapter-onebot==2.0.0b1
nonebot-bison==0.5.4
nonebot-plugin-apscheduler==0.1.3
nonebot-plugin-epicfree==0.1.7
nonebot-plugin-htmlrender==0.0.4.8
nonebot-plugin-simplemusic==0.1.3
nonebot2==2.0.0b4
packaging==21.3
Pillow==9.2.0
playwright==1.24.0
poyo==0.5.0
prompt-toolkit==3.0.30
protobuf==3.20.1
pyasn1==0.4.8
pydantic==1.9.1
pyee==8.1.0
pyfiglet==0.8.post1
Pygments==2.12.0
pygtrie==2.5.0
PyJWT==2.4.0
pymdown-extensions==9.5
pyparsing==3.0.9
pypika-tortoise==0.1.6
python-dateutil==2.8.2
python-dotenv==0.19.2
python-engineio==4.3.3
python-markdown-math==0.8
python-slugify==6.1.2
python-socketio==5.7.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
starlette==0.19.1
text-unidecode==1.3
tinydb==4.7.0
tomlkit==0.11.1
tortoise-orm==0.18.1
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.11
uvicorn==0.17.6
watchgod==0.8.2
wcwidth==0.2.5
websockets==10.1
win32-setctime==1.1.0
yarl==1.7.2
zipp==3.8.1
