nb-cli==0.3.2
nonebot-adapter-cqhttp==2.0.0a16
nonebot-plugin-analysis-bilibili==2.2.0
nonebot-plugin-apscheduler==0.1.2
nonebot-plugin-epicfree==0.1.1
nonebot-plugin-hanayori==0.5
nonebot-plugin-simplemusic==0.2
nonebot2==2.0.0a16